{{define "base"}}<html>
<head>
{{template "header" .}}
</head>
<body>
    <!-- Menubar -->
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">

            <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <a class="brand" href="/">
            <img src="{{ .Logo }}">
            </a>
            <!-- Everything you want hidden at 940px or less, place within here -->
            <div class="nav-collapse collapse">
                <ul class="nav">
                    {{range .Links}}
                    <li><a href="{{.Link}}">{{.Text}}</a>
                    {{end}}
                </ul>
                <ul class="nav pull-right">
                 
                </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Menubar -->
	<div class="container-fluid" id="container-fluid">
    <!--Body content-->
    <div class="row-fluid">
    <div class="span2"></div>
    <div class="span8">
    
{{template "body" .}}
	</div>
	{{if .Disqus}}
	<div id="disqus_thread"></div>
        <script type="text/javascript">var disqus_shortname="{{.Disqus}}";var disqus_url={{.Durl}};(function(){var a=document.createElement("script");a.type="text/javascript";a.async=true;a.src="http://"+disqus_shortname+".disqus.com/embed.js";(document.getElementsByTagName("head")[0]||document.getElementsByTagName("body")[0]).appendChild(a)})();        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    </div>
	{{end}}
    </div>
	</div>
	</div>
</body>
</html>{{end}}