<html>
<head>
	<title>Index</title>
</head>
<body>
    <!-- Menubar -->
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">

            <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <a class="brand" href=".">
            <img src="{{ .Logo }}">
            </a>
            <!-- Everything you want hidden at 940px or less, place within here -->
            <div class="nav-collapse collapse">
                <ul class="nav">
                    {{range .Links}}
                    <li><a href="{{.Link}}">{{.Text}}</a>
                    {{end}}
                </ul>
                <ul class="nav pull-right">
                 
                </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Menubar -->
	<div class="container-fluid" id="container-fluid">
    <!--Body content-->
    <div class="row-fluid">
    <div class="span2"></div>
    <div class="span8">

    	{{range .Posts}}
    	<div class="postbox">
	        <h1><a href="posts/{{ .Slug }}.html">{{ .Title }}</a></h1>
	        <small>  
	             Posted: {{ .Date }}
	        </small>
	        <hr>
	        {{ .Body }}
	        <p>
	            <a href="posts/{{ .Slug }}.html#disqus_thread">Comments</a>
	        </p>
    	</div>
    	{{ end }}
<ul class="pager">
	{{if .NextF }}
    {{if .NextLast }}
	<li class="previous">
        <a href="index.html">Newer posts</a>
    </li>
    {{else}}
    <li class="previous">
        <a href="index-{{ .Next }}.html">Newer posts</a>
    </li>
    {{end}}
    {{end}}
	{{if .PreviousF }}
    <li class="next">
        <a href="index-{{ .Previous }}.html">Older posts</a>
    </li>
    {{end}}
</ul>
</body>
</html>